{% extends "base.html" %}
{% block title %}Лента новостей{% endblock %} 
{% block content %}
    <div class="container">
        {% include "menu.html" with index=True %}
           <h1 align="center" style="margin-bottom:15px"><font style="font-size:95%;">Лента новостей</font></h1>

                {% for post in page %}
                    {% include "post_item.html" with post=post %}
                {% endfor %}

    </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
{% endblock %}